$base-color: #426bff;
$secondary-color: #fff;
$box-shadow-grey: 0rem 0rem 0.4rem 0.2rem #e0e0e0;
$text-size: 1em;
$color-list: #00dcd2, #4141fb;
$error-color: red;
$base-font-family: sans-serif;
$color-green: #00ffd0;
$nav-border: 0.4em solid $color-green;
$text-grey: #9e9e9e;
$color-grey: #ccc;
$color-light: #f9f9f9;
