@import "/src/sass/variables";
@import "/src/sass/mixins";

.border_line {
  flex-grow: 1;
}

.tile_container {
  @include flex-box(row);
  flex-grow: 1;
}
.count_section {
  height: 45%;
  display: flex;
  flex-direction: column;
}
.count_tile {
  @include flex-box(column);
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .tile_container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
