@import "/src/sass/variables";
@import "/src/sass/mixins";
.dashboard_container {
  display: flex;
  height: 100%;
  padding: 0.2em;
}
.right_section {
  flex-grow: 1;
}
.left_nav_bar {
  @include flex-box(column);
  background-color: $base-color;
  flex-basis: 4%;
  border-radius: 0.34em;
  box-shadow: $box-shadow-grey;
}
.nav_item {
  cursor: pointer;
  padding: 0.9em 0.7em;
  margin: 0.5em 0;
  border-left: 0.4em solid transparent;
  &.active {
    border-left: $nav-border;
  }
}
.fa {
  color: $secondary-color;
}
.logout_icon {
  margin-top: auto;
}
.card_content {
  width: 33%;
  @include flex-stretch;
}
.count_tile {
  @include box-border($base-color);
  color: $base-color;
  width: 85%;

  h4 {
    font-size: 1.5vw;
    font-family: "Cop_light";
    margin: 0.3em 0;
  }
  .count {
    font-size: 3vw;
  }
}
.fa-spinner {
  color: $base-color;
}
.dashboard_content {
  @include flex-box(column);
  padding: 3em;
  height: 100%;
  justify-content: space-between;
}
.header_section {
  @include flex-box(row);
  align-items: center;
}
.box_input {
  padding: 0.5em;
  border: 1px solid #ccc;
  box-shadow: 0em 0em 0.1em 0.1em #ccc;
  border-radius: 0.2em;
  box-sizing: border-box;
  &:focus-visible {
    outline: #a5a5a5 auto 1px;
  }
}
@media screen and (max-width: 800px) {
  .dashboard_container {
    flex-direction: column;
  }
  .left_nav_bar {
    flex-direction: row;
  }

  .left_nav_bar {
    .fa {
      font-size: 1em;
    }
  }
  .nav_item {
    padding: 0.1em 0.7em;
    margin: 0;
    border-left: 0;
    border-bottom: 0.4em solid transparent;
    &.active {
      border-left: 0;
      border-bottom: 0.4em solid $color-green;
    }
  }
  .dashboard_content {
    padding: 2em;
  }
  .tile_container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .card_content {
    width: 100%;
  }
  .count_tile {
    padding: 0.5em 0;
    h4 {
      font-size: 0.8em;
    }
    .count {
      font-size: 1em;
    }
  }
  .sub_header {
    font-size: 1em;
    text-align: center;
  }
  .header_section {
    flex-direction: column;
  }
  .text_box_section {
    width: 100%;
  }
  .inputContainer {
    width: 50%;
  }
  .pagination_section {
    padding: 0.3em;
    .page_count_span {
      font-size: 0.8em;
    }
    .fa {
      font-size: 1.3em;
    }
  }
  .country_data_section {
    .count_tile {
      width: 100%;
      h4 {
        font-size: 1.3em;
      }
    }
  }
  .country_count_item {
    h5 {
      font-size: 1em;
    }
    span {
      font-size: 1em;
    }
  }
  .country_flag_container {
    width: 3em;
    height: 2em;
  }
}
